[SddmGreeterTheme]
Name=Elegant Manjaro Linux
Description=An elegant SDDM theme for Manjaro Linux.
License=CC-BY-SA
Type=sddm-theme
Version=1.2.0
Screenshot=Screenshots/side.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Theme-Id=elegant-manjarolinux
Theme-API=2.0
QtVersion=6
